NODE_ENV=development
PORT=8000
``
POSTGRES_DB=healco
POSTGRES_USER=postgres`
POSTGRES_PASSWORD=12345
DATABASE_URL=postgresql://postgres:12345@localhost:5432/healco?schema=public

REDIS_URL=redis://localhost:6379